<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="lp1"
		class="com.mywork.SetterConstructorInjection.Laptop">
		<property name="brand" value="Intel_core"></property>
		<property name="model" value="Dell"></property>


	</bean>

	<bean id="lp2"
		class="com.mywork.SetterConstructorInjection.Laptop">
		<constructor-arg index="1" value="Lenova"></constructor-arg>
		<constructor-arg index="0" value="Rizen"></constructor-arg>

		<constructor-arg index="2" value="50000.00"></constructor-arg>
	</bean>

</beans>