<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp1" class="com.work.SpringApp.Employee">

		<property name="eid" value="101" />
		<property name="ename" value="Nava" />
		<property name="salary" value="50000" />

	</bean>

</beans>